*{
    box-sizing:border-box;
}

body{
    /* font-family: sans-serif; */
    background:url("../img/newyear.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color:#fff;

    height:100vh;

    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;

    margin:0;
    overflow:hidden;
}

body::after{
    content:"";
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);

    position:absolute;
    top:0;
    left:0;

    z-index:-1;
}

h1{
    font-size:60px;
}

.year{
    font-size:200px;
    opacity:0.2;

    position:absolute;
    bottom:20px;
    left:50%;

    transform:translate(-50%);

    z-index:-1;
}

.countdown{
    /* display:flex; */
    display:none;
    transform:scale(2);
}

.time{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;

    margin:15px;
}

.time h2{
    margin:0 5px;
}

@media(max-width:500px){
    h1{
        font-size:45px;
    }

    .time{
        margin:5px;
    }

    .time h2{
        font-size:12px;
        margin: 0;
    }

    .time small{

        font-size:10px;

    }


}